* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 25px 18px 27px;
  align-items: center;
  list-style-type: none;
}

.item__button {
  border: none;
  background-color: transparent;
}

.item__hidden {
  display: none;
}

.switch-language {
  margin-right: 90px;
}

.item--logo {
  width: 40px;
  height: 40px;
}

.item--burger {
  width: 29px;
  height: 17px;
}

@media (min-width: 768px) {
  .header {
    padding: 52px 85px 52px 82px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 52px 80px;
  }

  .item__hidden {
    display: block;
  }

  .item__search-mobile {
    display: none;
  }

  .item__button--margin {
    margin-right: 51px;
  }

  .item__button--margin-right {
    margin-right: 100px;
  }
}
